body, html {
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
}

.terminal {
    background: #30353A;
    color: white;
    width: 100%;
    height: 100%;
    padding: 10px;
    font-family: Menlo, Monaco, "Consolas", "Courier New", "Courier";
    font-size: 11pt;
    box-sizing: border-box;
}

span {
    display: inline-block;
    margin-right: 10px;
}

.last-line:focus {
    outline: none;
}

.last-line:after {
  content: "█";
  font-size: 19px;
  -webkit-animation-direction: normal;
     -moz-animation-direction: normal;
          animation-direction: normal;
  -webkit-animation-duration: 0.8s;
     -moz-animation-duration: 0.8s;
          animation-duration: 0.8s;
  -webkit-animation-iteration-count: infinite;
     -moz-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  /*-webkit-animation-name: blink;
     -moz-animation-name: blink;
          animation-name: blink;*/
  -webkit-animation-timing-function: ease;
     -moz-animation-timing-function: ease;
          animation-timing-function: ease;
}

@-webkit-keyframes blink {
    0% { opacity:0 }
    25% { opacity:1 }
    50% { opacity: 1 }
    75% { opacity: 1 }
    100% { opacity: 0 }
}

@-moz-keyframes blink {
    0% { opacity:0 }
    25% { opacity:1 }
    50% { opacity: 1 }
    75% { opacity: 1 }
    100% { opacity: 0 }
}

@keyframes blink {
    0% { opacity:0 }
    25% { opacity:1 }
    50% { opacity: 1 }
    75% { opacity: 1 }
    100% { opacity: 0 }
}

.status {
    color: #00FF00;
}
